<form asp-action="AddNewPhone" method="post" role="form">
	<h3 class="addNewPhoneHeader">
		Please enter new phone information
	</h3>
	<div class="col-6">
		<div class="row g-2">
			<div class="col-12">
				<label  class="form-label">Brand</label>
				<input  class="form-control"/>
			</div>
		</div>
	</div>
</form>