@model Phone

<form asp-action="AddNewPhone" method="post" role="form">

	<h3 class="addNewPhoneHeader py-2">
		Please enter new phone information
	</h3>

	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="col-6">
		<div class="row g-2">
			<div class="col-12">
				<label asp-for="Model" asp-for="Model" class="form-label">Model</label>
				<input asp-for="Model" asp-for="Model" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Length" asp-for="Length" class="form-label">Length</label>
				<input asp-for="Length" asp-for="Length" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Width" class="form-label">Width</label>
				<input asp-for="Width" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Thickness" class="form-label">Thickness</label>
				<input asp-for="Thickness" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="SIM" class="form-label">SIM</label>
				<input asp-for="SIM" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="IPRating" class="form-label">IPRating</label>
				<input asp-for="IPRating" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Dsize" class="form-label">Dsize</label>
				<input asp-for="Dsize" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Matrix" class="form-label">Matrix</label>
				<input asp-for="Matrix" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Brightness" class="form-label">Brightness</label>
				<input asp-for="Brightness" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="RefreshRate" class="form-label">RefreshRate</label>
				<input asp-for="RefreshRate" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Resolution" class="form-label">Resolution</label>
				<input asp-for="Resolution" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="ScrProtection" class="form-label">ScrProtection</label>
				<input asp-for="ScrProtection" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="Chipset" class="form-label">Chipset</label>
				<input asp-for="Chipset" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="CPU" class="form-label">CPU</label>
				<input asp-for="CPU" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="GPU" class="form-label">GPU</label>
				<input asp-for="GPU" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="RAM" class="form-label">RAM</label>
				<input asp-for="RAM" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="InternalStorage" class="form-label">InternalStorage</label>
				<input asp-for="InternalStorage" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="ExpStorageLimit" class="form-label">ExpStorageLimit</label>
				<input asp-for="ExpStorageLimit" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="USBType" class="form-label">USBType</label>
				<input asp-for="USBType" class="form-control" />
			</div>
			@* <div class="col-12">
				<label asp-for="FingerPrint" class="form-label">FingerPrint</label>
				<input asp-for="FingerPrint" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="FaceRec" class="form-label">FaceRec</label>
				<input asp-for="FaceRec" class="form-control" />
			</div> *@
			<div class="col-12">
				<label asp-for="BatCapacity" class="form-label">BatCapacity</label>
				<input asp-for="BatCapacity" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="BatChargingWattage" class="form-label">BatChargingWattage</label>
				<input asp-for="BatChargingWattage" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="MCMP" class="form-label">MCMP</label>
				<input asp-for="MCMP" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="MCVideo" class="form-label">MCVideo</label>
				<input asp-for="MCVideo" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="MCFeatures" class="form-label">MCFeatures</label>
				<input asp-for="MCFeatures" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="SCMP" class="form-label">SCMP</label>
				<input asp-for="SCMP" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="SCVideo" class="form-label">SCVideo</label>
				<input asp-for="SCVideo" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="SCFeatures" class="form-label">SCFeatures</label>
				<input asp-for="SCFeatures" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="OS" class="form-label">OS</label>
				<input asp-for="OS" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="WiFiSpeed" class="form-label">WiFiSpeed</label>
				<input asp-for="WiFiSpeed" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="BluetoothVersion" class="form-label">BluetoothVersion</label>
				<input asp-for="BluetoothVersion" class="form-control" />
			</div>
			<div class="col-12">
				<label asp-for="USBVersion" class="form-label">USBVersion</label>
				<input asp-for="USBVersion" class="form-control" />
			</div>
		@* 	<div class="col-12">
				<label asp-for="NFC" class="form-label">NFC</label>
				<input asp-for="NFC" class="form-control" />
			</div> *@
			<div class="col-12">
				<label asp-for="Price" class="form-label">Price</label>
				<input asp-for="Price" class="form-control" />
			</div>
		</div>
		<div class="mt-2">
			<div class="col-md-5">
				<input type="submit" class="btn btn-primary" value="Sumbit" />
			</div>
		</div>
	</div>
</form>
