@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "AboutUs";
}
<body style="background-color:#1f1f1f">
    <div class="container text-center" style="padding-top: 5%">
        <div class="row align-items-start">
            <div class="col">
                <p class="fw-bold h1" style="background:linear-gradient(128.87deg,#e666cc 14.05%,#fa97a1 89.3%); -webkit-background-clip: text; color: transparent;">Adam</p>
            </div>
            <div class="col">
                <p class="fw-bold h1" style="background:linear-gradient(128.87deg,#53ceda 14.05%,#9780e5 89.3%); -webkit-background-clip: text; color: transparent;">Edis</p>
            </div>
            <div class="col">
                <p class="fw-bold h1" style="background:linear-gradient(128.87deg,#9780e5 14.05%,#e666cc 89.3%); -webkit-background-clip: text; color: transparent;">Todor</p>
            </div>
        </div>
    </div>
</body>