<div class="container pb-5 mb-2 pt-5" style="width: 50%;" data-bs-theme="dark">
    <div class="comparison-table">
        <table class="table table-bordered">
            <thead class="bg-secondary">
                <tr>
                    <td>
                        <div class="comparison-item">
                            <a class="comparison-item-thumb" href="shop-single.html"><img class="" src="~/img/huawei-p30-pro.jpg" alt="..."></a>
                        </div>
                    </td>
                    <td class="align-top">
                        <table>
                            <tr>
                                <td>
                                    Performance:	Hexa Core
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Display:	6.5-inch
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Storage:	64 GB
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Camera:	Dual 12-megapixel
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Battery:	3,174 mAh
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="align-top">
                        <button class="btn btn-outline-info" type="button" data-toggle="toast" data-target="#cart-toast">View Price In Amazon</button>
                    </td>
                </tr>
            </thead>
            <tbody id="summary" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Summary</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Performance</th>
                    <td colspan="2">Hexa Core</td>
                </tr>
                <tr>
                    <th>Display</th>
                    <td colspan="2">6.5-inch</td>
                </tr>
                <tr>
                    <th>Storage</th>
                    <td colspan="2">64 GB</td>
                </tr>
                <tr>
                    <th>Camera</th>
                    <td colspan="2">Dual 12-megapixel</td>
                <tr>
                    <th>Battery</th>
                    <td colspan="2">3,174 mAh</td>
                </tr>
            </tbody>
            <tbody id="general" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">General</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Quick charging</th>
                    <td colspan="2">Yes</td>
                </tr>
                <tr>
                    <th>Operating system</th>
                    <td colspan="2">iOS v12</td>
                </tr>
                <tr>
                    <th>Sim slots</th>
                    <td colspan="2">Single SIM, GSM</td>
                </tr>
                <tr>
                    <th>Launch date</th>
                    <td colspan="2">September 12, 2018 (Official)</td>
                </tr>
                <tr>
                    <th>Sim size</th>
                    <td colspan="2">SIM1: Nano</td>
                </tr>
                <tr>
                    <th>Network</th>
                    <td colspan="2">4G: Available (supports Indian bands) 3G: Available, 2G: Available</td>
                </tr>
                <tr>
                    <th>Fingerprint sensor</th>
                    <td colspan="2">None (Face ID)</td>
            </tbody>
            <tbody id="multimedia" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Multimedia</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Loudspeaker</th>
                    <td colspan="2">Yes</td>
                </tr>
                <tr>
                    <th>FM radio</th>
                    <td colspan="2">No</td>
                </tr>
                <tr>
                    <th>Headphone jack</th>
                    <td colspan="2">No</td>
                </tr>
            </tbody>
            <tbody id="performance" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Performance</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Processor</th>
                    <td colspan="2">Apple A12 Bionic</td>
                </tr>
                <tr>
                    <th>Graphics</th>
                    <td colspan="2">Apple GPU (4-core graphics)</td>
                </tr>
                <tr>
                    <th>Architecture</th>
                    <td colspan="2">64 bit</td>
                </tr>
                <tr>
                    <th>RAM</th>
                    <td colspan="2">4 GB</td>
                </tr>
            </tbody>
            <tbody id="design" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Design</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Build material</th>
                    <td colspan="2">Case: AluminiumBack: Mineral Glass</td>
                </tr>
                <tr>
                    <th>Thickness</th>
                    <td colspan="2">7.7 mm</td>
                </tr>
                <tr>
                    <th>Width</th>
                    <td colspan="2">70.9 mm</td>
                </tr>
                <tr>
                    <th>Height</th>
                    <td colspan="2">143.6 mm</td>
                </tr>
                <tr>
                    <th>Weight</th>
                    <td colspan="2">174 grams</td>
                </tr>
                <tr>
                    <th>Waterproof</th>
                    <td colspan="2">Yes Water resistant (up to 30 minutes in a depth of 1 meter), IP67</td>
                </tr>
                <tr>
                    <th>Colors</th>
                    <td colspan="2">Silver, Space Grey</td>
                </tr>
            </tbody>
            <tbody id="display" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Display</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Display type</th>
                    <td colspan="2">Super Retina OLED</td>
                </tr>
                <tr>
                    <th>Pixel density</th>
                    <td colspan="2">458 ppi</td>
                </tr>
                <tr>
                    <th>Screen protection</th>
                    <td colspan="2">Yes</td>
                <tr>
                    <th>Screen size</th>
                    <td colspan="2">6.5 inches</td>
                </tr>
                <tr>
                    <th>Screen resolution</th>
                    <td colspan="2">1125 x 2436 pixels</td>
                </tr>
                <tr>
                    <th>Touch screen</th>
                    <td colspan="2">Yes, 3D Touch Touchscreen, Multi-touch</td>
                </tr>
            </tbody>
            <tbody id="storage" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Storage</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Internal memory</th>
                    <td colspan="2">64 GB</td>
                </tr>
                <tr>
                    <th>Expandable memory</th>
                    <td colspan="2">No</td>
                </tr>
            </tbody>
            <tbody id="camera" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Camera</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Settings</th>
                    <td colspan="2">Exposure compensation, ISO control</td>
                </tr>
                <tr>
                    <th>Aperture</th>
                    <td colspan="2">F2.2</td>
                </tr>
                <tr>
                    <th>Camera features</th>
                    <td colspan="2">10 x Digital zoom, Optical zoom, Auto flash, Face detection, Touch to focus</td>
                </tr>
                <tr>
                    <th>Image resolution</th>
                    <td colspan="2">4000 x 3000 pixels</td>
                </tr>
                <tr>
                    <th>Sensor</th>
                    <td colspan="2">BSI sensor</td>
                </tr>
                <tr>
                    <th>Autofocus</th>
                    <td colspan="2">Yes</td>
                </tr>
                <tr>
                    <th>Shooting modes</th>
                    <td colspan="2">Continuos shooting, High dynamic range mode (HDR), Burst mode</td>
                </tr>
                <tr>
                    <th>Optical image stabilisation</th>
                    <td colspan="2">Yes, Dual optical image stabilization</td>
                </tr>
                <tr>
                    <th>Flash</th>
                    <td colspan="2">Yes, Retina flash</td>
                </tr>
            </tbody>
            <tbody id="battery" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Battery</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Talktime</th>
                    <td colspan="2">Up to 21 hours(4G)</td>
                </tr>
                <tr>
                    <th>Quick charging</th>
                    <td colspan="2">Yes, fast, 50 % in 30 minutes</td>
                </tr>
                <tr>
                    <th>Wireless charging</th>
                    <td colspan="2">Yes</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td colspan="2">Li-ion</td>
                </tr>
                <tr>
                    <th>Capacity</th>
                    <td colspan="2">3,174 mAh</td>
                </tr>
            </tbody>
            <tbody id="price" data-filter="target">
                <tr class="bg-secondary">
                    <th class="text-uppercase">Price &amp; rating</th>
                    <td colspan="2"><span class="text-dark font-weight-semibold">Apple iPhone Xs Max</span></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td colspan="2">$1,099</td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td colspan="2">4.5/5</td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">
                        <button class="btn btn-outline-info" type="button" data-toggle="toast" data-target="#cart-toast">View Price In Amazon</button>
                    </td colspan="2">
                </tr>
            </tbody>
        </table>
    </div>
</div>