<div id="carouselImages" class="carousel slide w-50 mx-auto p-2" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/Realme-12X.jpg" class="d-block w-100" alt="Carousel image 1">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fst-italic">Realme 12X</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/s24.jpg" class="d-block w-100" alt="Carousel image 2">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fst-italic">Samsung Galaxy S24</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/Ip15.jpg" class="d-block w-100" alt="Carousel image 3">
            <div class="carousel-caption d-none d-md-block">
                <h5 class="fst-italic">IPhone 15</h5>
            </div>
        </div>
    </div>
</div>
