<div class="card rounded-2 border border-0" style="width: 8rem; padding: 5px">
    <a href="#" class="card-link text-decoration-none text-dark-emphasis">
        <img src="~/img/huawei-p30-pro.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <strong>
                <span>
                    Huawei
                    <br />
                    P30 Pro
                </span>
            </strong>
        </div>
    </a>
</div>
