<a href="#" class="card-link text-decoration-none text-dark-emphasis">
    <div class="card rounded-5 border border-0" style="width: 18rem;">
        <img src="~/img/Huawei.png" class="card-img-top rounded-4" alt="...">
    </div>
</a>
