<aside class="col">

    <div class="card">
        <article class="filter-group">
        </article> <!-- filter-group  .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Brands </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_2" style="">
                <div class="card-body">
                    @foreach (var brand in ViewData["Brands"] as List<Brand>)
                    {
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                @brand.BrandName
                                <b class="badge badge-pill badge-light float-right">120</b>
                            </div>
                        </label>
                    }
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Min</label>
                            <input class="form-control" placeholder="$0" type="number">
                        </div>
                        <div class="form-group text-right col-md-6">
                            <label>Max</label>
                            <input class="form-control" placeholder="$1,0000" type="number">
                        </div>
                    </div> <!-- form-row.// -->
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Features </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                    @foreach (var feature in ViewData["Features"] as List<Feature>)
                    {
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <div class="custom-control-label">
                                @feature.Name
                                <b class="badge badge-pill badge-light float-right">120</b>
                            </div>
                        </label>
                    }
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Rating </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                    <input type="range" class="custom-controll-input"/>
                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        <article class="filter-group">
            <div class="filter-content collapse in" id="collapse_5" style="">
                <div class="card-body">
                    <label class="custom-control custom-radio">
                        <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                        <div class="custom-control-label">Any condition</div>
                    </label>

                    <label class="custom-control custom-radio">
                        <input type="radio" name="myfilter_radio" class="custom-control-input">
                        <div class="custom-control-label">Brand new </div>
                    </label>

                    <label class="custom-control custom-radio">
                        <input type="radio" name="myfilter_radio" class="custom-control-input">
                        <div class="custom-control-label">Used items</div>
                    </label>

                    <label class="custom-control custom-radio">
                        <input type="radio" name="myfilter_radio" class="custom-control-input">
                        <div class="custom-control-label">Very old</div>
                    </label>
                </div><!-- card-body.// -->
            </div>
            <button class="btn btn-block btn-primary">Apply</button>
        </article> <!-- filter-group .// -->
    </div> <!-- card.// -->
</aside>
