@* <div class="p-4 d-md-flex w-75 justify-content-md-end">
    <a class="button" asp-controller="Filter" asp-action="Filter">
        <div type="button" class="btn btn-outline-success position-absolute">Filters</div>
    </a>
</div> *@
<div id="CardImages" class="slide w-75 mx-auto mt-5 p-4" data-bs-ride="true">
    <table class="mx-auto">
        <tr>
            <td>
            <div class="card rounded-5 border border-0 m-2" style="width: 18rem;" data-bs-ride="true">
                <a asp-controller="Phones" asp-action="Phones" class="card-link text-decoration-none text-dark-emphasis">
                    <img src="~/img/Huawei.png" class="card-img-top rounded-4" alt="...">
                </a>
            </div>
            </td>
            <td>
                <div class="card rounded-5 border border-0 m-2" style="width: 18rem;" data-bs-ride="true">
                    <a asp-controller="Phones" asp-action="Phones" class="card-link text-decoration-none text-dark-emphasis">
                        <img src="~/img/Apple.png" class="card-img-top rounded-4" alt="...">
                    </a>
                </div>
            </td>
            <td>
                <div class="card rounded-5 border border-0 m-2" style="width: 18rem;" data-bs-ride="true">
                    <a asp-controller="Phones" asp-action="Phones" class="card-link text-decoration-none text-dark-emphasis">
                        <img src="~/img/Samsung.png" class="card-img-top rounded-4" alt="...">
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
