@model IEnumerable<Phone>;
<div class="row pt-5">
    <aside class="col-md-3">
        ﻿<partial name="_Filter"></partial>
    </aside>
    <main class="col-md-9">
        <div class="row">
            @foreach (var phone in Model)
            {
                ﻿<partial name="_CardPhone" model="phone"></partial>
            }
        </div>
    </main>
</div>