@model IEnumerable<Phone>;

<div class="container">
	@* <div class="p-4 d-md-flex w-75 justify-content-md-end">
		<a class="button" asp-controller="Filter" asp-action="Filter">
			<div type="button" class="btn btn-outline-success position-absolute">Filters</div>
		</a>
	</div> *@
	@*
	@foreach(var model in Model)
	{
		@Html.Partial("_CardPhone", model);
	}
	*@
</div>