@model IEnumerable<Phones>;

<div class="container">
	<button type="button" class="btn btn-secondary"><a class="navbar-brand" asp-controller="Filter" asp-action="Filter">Filter</a></button>
	@foreach(var model in Model)
	{
		@Html.Partial("_CardPhone", model);
	}
</div>
