@import "../lib/bootstrap/scss/_functions.scss";
@import "../lib/bootstrap/scss/_variables.scss";

body {
    background-color: #1f1f1f;
    color:white;
}

.addNewPhoneHeader{
    margin-top : 150px;
}
